<%- include('partials/head') %>
  <%- include('partials/header') %>

<h1>Crear Series</h1>
<form action="movies/create" method="POST">
    <div>
        <label for="">Title</label>
        <input type="text" name="title">
    </div>
    <div>
        <label for="">Release Date</label>
        <input type="date" name="release_date">
    </div>
    <div>
        <label for="">End Date</label>
        <input type="date" name="end_date">
    </div>
    <div>
        <button type="submit">Create</button>
    </div>


</form>