<%- include('partials/head') %>

    <body>
    <%- include('partials/header') %>

    <div class="card">
        <h5 class="card-header"> <%= Serie.title %></h5>
        <div class="card-body">
          <p class="card-text">Release Date: <%= Serie.release_date %></p> 
          
          <% if (loggedUser.admin == 1) { %>
          <a href="#" class="btn btn-primary">Edit</a>
          <% } %> 


        </div>
      </div>

    </body>
