<%- include('partials/head') %>

    <body>
    <%- include('partials/header') %>

    <div class="card">
        <h5 class="card-header"> Movie / Serie</h5>
        <div class="card-body">
          <h6 class="card-title">Rating: </h6>
          <p class="card-text">Awards: </p>
          <p class="card-text">Length: </p>
          <p class="card-text">Release Date: </p>
          <a href="#" class="btn btn-primary">Edit</a>
        </div>
      </div>

    </body>
