
<%- include('partials/head') %>


  <%- include('partials/header') %>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <div class="list-group">
      <a href="#" class="list-group-item list-group-item-action active bg-dark">
        Movies
      </a>
      <a href="#" class="list-group-item list-group-item-action">Movie 1</a>
      <a href="#" class="list-group-item list-group-item-action">Movie 2</a>
      <a href="#" class="list-group-item list-group-item-action">Movie 3</a>
      <a href="#" class="list-group-item list-group-item-action">Movie 4</a>
      <a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">Movie 5</a>
    </div>

    <div class="list-group">
      <a href="#" class="list-group-item list-group-item-action active bg-dark">
        Series
      </a>
      <a href="#" class="list-group-item list-group-item-action">Serie 1</a>
      <a href="#" class="list-group-item list-group-item-action">Serie 2</a>
      <a href="#" class="list-group-item list-group-item-action">Serie 3</a>
      <a href="#" class="list-group-item list-group-item-action">Serie 4</a>
      <a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">Serie 5</a>
    </div>

    
  </body>
</html>
